* {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;}



h1 {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5;
    border-width: 25;
    border-color: orange;
    border-style: dashed;}

p {
    color: blue;
    background-color: orange;
    
}

img {
    height: 500px;
    width: 375px;
}

li {
    display: block;
    margin-right: 10px;
}

a:link {
    color: deeppink;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
}